*{
    /*margin:0px auto 0px auto;*/
    margin: 0;
}
body{
    margin: 0px auto 0px auto;
    width: 980px;
    color: #404040;
    font-family: Arial,​sans-serif;
    /*font-family: Helvetica,Tahoma,Arial,sans-serif;*/
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

.header{
    margin-top: 12px;
}

.logo{
    float: left;
    height: 59px;
    margin-left: 8px;
}

.header_title span{
    display: block;
}

.nav{
    list-style: none outside none;
    background-color: #009cd9;
    height: 37px;
    margin-top: 13px;
    padding:0px;
}

ul.nav li{
    float: left;
}


ul.nav li a{
    float:none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    line-height: 37px;
    text-decoration: none;
}

.main{
    margin-top: 15px;
    border-bottom: 2px solid #e8e8e8;
}

.title{
    color:#0086d1;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 7px;
}

.title1{
    background: url("../images/titlebottom1.png") no-repeat left bottom;
    color: #0086d1;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 7px;

}

.main_1{
    padding-bottom: 25px;
    border-bottom: 2px solid #e8e8e8;
}

.small_container{
    width: 250px;
    /*padding-right: 14px;*/
}


ul.bk_list{
    /*
    list-style: none outside none;
    list-style-image: url("/images/list-style.png");
    margin-top: 14px;
    */
    padding-top: 10px;
    padding-left: 0px;
}


.bk_list li{
    padding : 0 0 4px 10px;
    list-style: none;
    background: url("/images/list-style.png") 2px 9px no-repeat;
}

.bk_list a,.main_2_right .bk_list span{
    font-size: 14px;
    text-decoration: none;
    color: #404040;
    font-weight: 400;
}

.bk_list li a:hover{
    text-decoration: underline;
    color: #009cd9;
}

.left{
    float: left;
}



.main_1_right{
    float: right;
    width: 224px;
}

.main_1_right a{
    font-size: 14px;
}

.main_2{
    /*margin-top: 15px;*/
}

.main_2_small_container{
    width: 364px;
}

.main_2_left{
    width:744px;
    float: left;
}

.main_2_right{
    float: right;
    width: 224px;
}

.main_2_right_small_container{
    padding-top: 13px;
}

.forumright1{
    border-bottom: 2px solid #56abee;
}
.forumright2{
    border-bottom: 3px solid #f8a339;
}

.main_2_right_small_container .title{
    font-size: 16px;
    color: #009cd9;
}

.rightlist_title_2{
    font-size: 16px;
    font-weight: bold;
    color: #eb6100;
    padding-bottom: 7px;
}

.rightlist_subtitle_1{
    background-color: #56abee;
    border-top: 2px solid #0086d1;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
.rightlist_subtitle_2{
    background-color: #f68f0b;
    border-top: 2px solid #e63a00;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}



.main_2_small_container .bk_list{
    padding-left:7px;
}

.main_2_right_small_container .bk_list {
    padding-left: 9px;
    background-color: #fafafa;
    padding-bottom: 15px;
}
.main_2_right_small_container .bk_list .name{
    margin-left: 21px;
}
.main_2_right_small_container .bk_list .price{
    margin-left: 60px;
    color: #c20f09;
}

.main_2_left .block{
    padding-top: 13px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e8e8e8;
}

.bbs_login{
    margin-top: 11px;
    background-color: #4993d2;
    border: 1px solid #297ac0;
    padding-left: 13px;
    padding-top: 12px;
    color: #ffffff;
    font-size: 14px;
}

.labelCheckbox{
}

input[type=checkbox]{
    vertical-align: middle;
    margin-right: 5px;
}

input[type=input]{
    width: 195px;
    height: 24px;
    border: 1px solid #296ca6;
    margin-top: 6px;
    margin-bottom: 9px;
}

.btn_login{
    margin-top: 18px;
    margin-bottom: 18px;
}

.btn_login input[type=submit]{
    width: 96px;
    height: 33px;
    background-color: #297ac0;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 14px;
    padding-bottom: 4px;
}

.section_ico{
    margin-right: 7px;
    vertical-align: bottom;
    margin-bottom: 2px;
}

ul.tabs{
    list-style: none outside none;
    margin: 0 !important;
    padding: 0;
    width: 350px;
    font-size: 12px;
}

ul.tabs li{
    float: left;
    list-style-image: none !important;
    /*padding: 9px;*/
}


ul.tabs li a{
    text-decoration: none;
    color: #404040;
    display: block;
    height: 30px;
    line-height: 30px;
    padding:0 9px;
}

.panel{
    width: 339px;
    height: 110px;
    margin: 0;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 11px;
}

.subpanel span{
    display: block;
    font-size: 12px;
}

.subpanel_title{
    margin-top: 16px;
    color: #eb6100;
    font-weight: bold;
}

.subpanel_content{
    margin-top: 10px;
    color: #808080;
}

.banzhu{
    color: #0086d1;
}


.forum1 .tabs{
    border-top: 2px solid #eb6100;
    border-bottom: 1px solid #f4c9a8;
}

.forum1 a.current{
    border-left: 1px solid #f4c9a8;
    border-right: 1px solid #f4c9a8;
}
.forum1 .title{
    color:#eb6100;
}
.forum2 .tabs{
     border-top: 2px solid #59a000;
     border-bottom: 1px solid #beed88;
 }
.forum2 a.current{
    border-left: 1px solid #bdeb86;
    border-right: 1px solid #bdeb86;
}
.forum2 .title{
    color:#59a000;
}
.forum3 .tabs{
    border-top: 2px solid #95188a;
    border-bottom: 1px solid #cba8f4;
}
.forum3 a.current{
    border-left: 1px solid #cba8f4;
    border-right: 1px solid #cba8f4;
}
.forum3 .title{
    color:#95188a;
}
.forum4 .tabs{
    border-top: 2px solid #c00870;
    border-bottom: 1px solid #e1a4cb;
}
.forum4 a.current{
    border-left: 1px solid #e1a4cb;
    border-right: 1px solid #e1a4cb;
}
.forum4 .title{
    color:#c00870;
}
.forum5 .tabs{
    border-top: 2px solid #0086d1;
    border-bottom: 1px solid #dbecec;
}
.forum5 a.current{
    border-left: 1px solid #a8d3f4;
    border-right: 1px solid #a8d3f4;
}
.forum5 .title{
    color:#0086d1;
}
.forum6 .tabs{
    border-top: 2px solid #a57700;
    border-bottom: 1px solid #f4c9a8;
}
.forum6 a.current{
    border-left: 1px solid #f4c9a8;
    border-right: 1px solid #f4c9a8;
}
.forum6 .title{
    color:#d09a00;
}

/*footer*/
.footer{
    margin-top: 25px;
}

.friendlink_title{
    border-top: 2px solid #0086d1;
    background-color: #56abee;
    color: #ffffff;
    padding: 5px 0 7px 8px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.friendlinkblock{
    /*display: inline-block;*/
    display: inline;
    padding: 2px 0;
}

.friendlink_content{
    padding: 7px 0 12px 12px;
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.link a{
    font-size: 12px;
    text-decoration: none;
    color: #404040;
    letter-spacing: 1px;
}

.seperator{
    margin:0 10px;
}

.ct_footer{
    margin-top: 25px;
    font-size: 12px;
    color: #404040;
    padding-left: 12px;
}

.card_sublist li{
    background: none;
    font-size: 12px;
    color: #404040;
    line-height: 22px;
}
